<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card routerLink="foodList" class="report" button>
        <ion-card-header>
          <ion-card-subtitle>Food & Drinks</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img src="/../assets/food.svg" />
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="report" routerLink="resturantList" button>
        <ion-card-header>
          <ion-card-subtitle>Report</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img src="/../assets/graphic.svg" />
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
 
</ion-grid>
