

<ion-content color="light">
  <div class="center">
    <ion-card class="loginCard animate__animated animate__zoomInDown">
      <div class="centerCard">
        <ion-img class="icon animate__animated animate__rubberBand animate__delay-2s" src="/../assets/icon/logo.jpg"></ion-img>
      </div>
      <ion-card-content>
      

        <ion-button routerLink="/Foods" expand="block" class="dark">
          Get Started
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
