<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <ion-chip (click)="back()">
            <ion-icon name="chevron-back-circle-outline"></ion-icon>
            <ion-label>Back</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col size="5">

        </ion-col>
        <ion-col size="3">
          <ion-chip routerLink="/managmenet/tabs/tab3/openingBalanceCreate">
            <ion-icon name="person-add-outline"></ion-icon>
            <ion-label>New</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let item of resDataList">
    <ion-card-content>
      <ion-item>
     
        <ion-label>
          <p>
            <ion-icon name="business-outline"></ion-icon> Rider :{{this.riderName(item.riderID)}}
          </p>
          <p>
            <ion-icon name="call-outline"></ion-icon> Amount :{{item.openingAmount}}
          </p>
        </ion-label>

        <ion-button (click)="onEdit(item.id)" color="secondary">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>

        <ion-button (click)="onDelete(item.id)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-toolbar color="light">
  <ion-item>
    <ion-label>Report Date</ion-label>
    <ion-datetime (ngModelChange)="dateChange($event)" [(ngModel)]="searchDate"displayFormat="DD-MMMM-YYYY" ></ion-datetime>
  </ion-item>
</ion-toolbar>