<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card
        routerLink="/managmenet/tabs/tab1/deliveryPending"
        class="report"
        button
      >
        <ion-card-header>
          <ion-card-subtitle>Delivery Pending</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img class="tab" src="/../assets/brochure.svg" />
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card class="report" button>
        <ion-card-header>
          <ion-card-subtitle>Delivery Finished</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img class="tab" src="/../assets/goal.svg" />
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card class="report" routerLink="userList" button>
        <ion-card-header>
          <ion-card-subtitle>User</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img class="tab" src="/../assets/person.svg" />
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card class="report" routerLink="resturantList" button>
        <ion-card-header>
          <ion-card-subtitle>Resturant</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img class="tab" src="/../assets/market.svg" />
        </ion-card-content>
      </ion-card>
    </ion-col>

    <!-----
      <ion-col>
        
        <ion-card class="report" routerLink="itemConfirm" button>
          <ion-card-header>
            <ion-card-subtitle>Item Confirm</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <img class="tab" src="/../assets/food.svg" />
          </ion-card-content>
        </ion-card>
      </ion-col>------->
    <ion-col>
      <ion-card class="report" routerLink="locationList" button>
        <ion-card-header>
          <ion-card-subtitle>Location & Price</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img class="tab" src="/../assets/location.svg" />
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card class="report" routerLink="riderEarning" button>
        <ion-card-header>
          <ion-card-subtitle>Rider Earning</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img class="tab" src="/../assets/price.svg" />
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="report" routerLink="report/orderAccept" button>
        <ion-card-header>
          <ion-card-subtitle>Report</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img class="tab" src="/../assets/calculator.svg" />
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card class="report" routerLink="openingBalance" button>
        <ion-card-header>
          <ion-card-subtitle>Opening Balance</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img class="tab" src="/../assets/calculator.svg" />
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card class="report" routerLink="mainItem" button>
        <ion-card-header>
          <ion-card-subtitle>Main Item</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img class="tab" src="/../assets/foodMain.svg" />
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card
        class="report"
        routerLink="/managmenet/tabs/tab3/foodList"
        button
      >
        <ion-card-header>
          <ion-card-subtitle>Sub Item</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img class="tab" src="/../assets/fried-chicken.svg" />
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
